header {
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: center;
    background: #fff;
    // padding: 1rem;
    z-index: 6;
    position: absolute;
    width: 99vw;
  }
}
.header__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #fff;
  width: 100vw;
  gap: 2rem;
  z-index: 1;
  position: absolute;

  @media screen and (min-width: 768px) {
    width: auto;
    position: relative;
    background-color: none;
  }
}

#hambuger,
#close-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

nav {
  color: hsl(233, 26%, 24%);
  background-color: hsl(0, 0%, 98%);
  margin: 2rem auto;
  padding: 2rem 0;
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 3;
  display: none;
  opacity: 0;
  transition: display 0.1s ease, opacity 0.5s linear 0.3s;

  @media screen and (min-width: 768px) {
    background: none;
    margin: 0;
    margin-left: auto;
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    display: block;
    opacity: 1;
  }
}

.hide-icon {
  display: none;
}

.show-menu {
  display: block;
  opacity: 1;
}

.nav-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.5rem 1rem;
  display: block;
}
