header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fff;
    width: 100vw;
    gap: 2rem;
    z-index: 1;
    position: absolute;

    .menu {
        
    }
}


