.panel1 {
  background-color: hsl(0, 0%, 98%);
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;

  &__desc {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 2rem;
    }

    h2 {
      font-weight: 300;
      font-size: 2rem;
      color: hsl(233, 26%, 24%);
      padding: 0 6rem;
      margin-bottom: 1rem;
    }

    p {
      padding: 0 4rem;
      font-size: 1rem;
      color: hsl(233, 8%, 62%);

      @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        align-self: flex-start;
        width: 40%;
      }
    }
  }

  &__body {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      gap: 2rem;

      svg {
        align-self: center;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 300;
        color: hsl(233, 26%, 24%);
      }

      p {
        padding: 0 5rem;
        font-size: 1rem;
        color: hsl(233, 8%, 62%);
      }
    }
  }
}
